body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: .2rem;
  scroll-behavior: smooth;
  color: white;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

section {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}